section.achievement {
  height: 0vh;
  width: 100vw;
  transition: all 0.5s;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  margin-bottom: 100%;
  overflow: hidden;
}

section.achievement.show {
  margin-bottom: 0%;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

section.achievement.hide {
  height: 0rem;
  margin-bottom: 100%;
  transition: all 0.5s;
}

section.achievement.none {
  margin-top: 100%;
  transition: all 0.5s;
  display: none;
}

section.achievement > header {
  padding: 0.5rem;
  margin: 0rem;
  font-size: 140%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

section.achievement > header > h1 {
  font-size: 200%;
  margin-bottom: 1rem;
}

section.achievement > header > nav {
  margin-right: 3rem;
}

section.achievement > header > nav > button {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 110%;
  border-radius: 0.5rem;
}

section.achievement > section.container > div {
  display: flex;
  flex-direction: row;
  flex-direction: space-around;
  max-height: 120vh;
  overflow: hidden;
}

section.achievement > section.container > div > article {
  width: 60%;
}

section.achievement > section.container > div > div {
  width: 40vw;
}

section.achievement > section.container > div > div > img {
  height: 20%;
}
