@keyframes c-animation-c-div {
    0% {
        top: 15rem;
        opacity: 0;
    }

    100% {
        top: 12.5rem;
        opacity: 1;
    }
}

@keyframes enter-animate-move {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes button-background-animation {
    0% {
        background-position: 0% 0%;
        box-shadow: 2em 2em 6em #d9d9d9,
            -2em -2em 6em #ffffff;
    }

    25% {
        box-shadow: 0em 0em 0em #d9d9d9,
            -0em -0em 0em #ffffff;
    }

    50% {
        box-shadow: 0em 0em 0em #007bd9,
            -0em -0em 0em #00a7ff;
    }

    75% {
        box-shadow: inset 0.5em 0.5em 0.5em #007bd9,
            inset -0.5em -0.5em 0.5em #00a7ff;
    }

    100% {
        background-position: 100% 100%;
        box-shadow: inset 0.5em 0.5em 0.5em #007bd9,
            inset -0.5em -0.5em 0.5em #00a7ff;
    }
}

@keyframes firstPart-firstPpart-to-secondPart-animation {
    0% {
        height: 45rem;
        transform: translateY(0rem);
    }

    50% {
        height: 45rem;
        transform: translateY(15rem);
    }

    100% {
        height: 0rem;
        transform: translateY(-20rem);
    }
}

#firstPart.hideAnimation {
    height: 45rem;
    overflow: hidden;
    animation: firstPart-firstPpart-to-secondPart-animation 1s forwards;
    animation-play-state: running;
}

#firstPart.showAnimation {
    height: 0rem;
    overflow: hidden;
    animation: firstPart-firstPpart-to-secondPart-animation 1s reverse forwards 0.5s;
    animation-play-state: running;
}

header {
    width: 95%;
    height: 22.5rem;
    text-align: center;
    padding: 2.5%;
    margin: 0%;
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
}

header h1,
h2 {
    font-size: 200%;
    margin: 0.5%;
    opacity: 0;
    display: block;
    background: linear-gradient(145deg, #009bff, #0083e6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(5rem);
    animation: enter-animate-move 1s forwards;
}

header section.card {
    position: relative;
    top: -10rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

/*data*/

header section.card div.data {
    font-size: 125%;
    display: flex;
    justify-content: left;
    max-width: 35%;
    margin: 1%;
    border-radius: 1.5rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    opacity: 0;
    transform: translateY(5rem);
    animation: enter-animate-move 1s forwards;
}

header section.card div.data img {
    border-radius: 1.5rem;
    margin: 1%;
    width: 30%;
}


/*C [logo]*/
div.c {
    position: relative;
    top: 12.5rem;
    left: 45%;
    display: block;
    width: 10rem;
    height: 10rem;
    padding: 0.5%;
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    overflow: hidden;
    animation: c-animation-c-div 1s forwards;
}

div.c>div.shape.bigCircle {
    position: relative;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
    border-radius: 25rem;
    background: linear-gradient(145deg, #009bff, #0083e6);
    overflow: hidden;
    animation: c-animation-first-big-circle 1s forwards 1s;
}

div.c>div.shape.bigCircle>div.shape.interiorCircle {
    position: relative;
    top: 14%;
    left: 15%;
    height: 70%;
    width: 140%;
    border-radius: 15rem 5rem 5rem 15rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: inset 0.5em 0.5em 0.5em #007bd9, inset -0.5em -0.5em 0.5em #00a7ff;
}

div.c>div.shape.bigCircle>div.shape.interiorCircle>div.shape.bigCircle {
    position: relative;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 30%;
    margin: 1%;
    border-radius: 25rem;
    background: linear-gradient(145deg, #009bff, #0083e6);
    overflow: hidden;
}

div.c>div.shape.bigCircle>div.shape.interiorCircle>div.shape.bigCircle>div.shape.interiorCircle {
    position: relative;
    top: 14%;
    left: 15%;
    height: 70%;
    width: 140%;
    border-radius: 15rem 5rem 5rem 15rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: inset 0.5em 0.5em 0.5em #007bd9, inset -0.5em -0.5em 0.5em #00a7ff;
}

/*network*/
header section.card div.network {
    max-width: 40%;
    margin: 1%;
    padding: 1%;
    border-radius: 1.5rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    font-size: 125%;
    width: 32.5%;
    opacity: 0;
    transform: translateY(5rem);
    animation: enter-animate-move 1s forwards;
}

header section.card div.network button {
    margin: 1%;
    padding: 1%;
    display: block;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    font-family: roboto;
    font-size: 105%;
    background: linear-gradient(145deg, #ffffff, #e6e6e6, #009bffed, #0083e6ed);
    background-size: 300%;

    cursor: pointer;
}

header section.card div.network button:hover {
    animation: button-background-animation 0.5s forwards;
    cursor: pointer;
}

button.next {
    position: relative;
    top: 10rem;
    left: 47.75rem;
    font-family: roboto;
    font-size: 200%;
    padding: 1.5%;
    border-radius: 1rem;
    outline: none;
    border: none;
    background: linear-gradient(145deg, #ffffff, #e6e6e6, #009bffed, #0083e6ed);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    cursor: pointer;
    transform: translateY(15rem);
    animation: enter-animate-move 1s forwards 1.5s;
}