/*animation*/
@keyframes c-animation-first-big-circle {
    0% {
        margin: 50%;
        height: 0%;
        width: 0%;
    }

    100% {
        margin: 0%;
        height: 100%;
        width: 100%;
    }


}

/*font*/
@font-face {
    font-family: roboto;
    src: url("./Roboto-Regular.ttf");
}

body {
    font-family: roboto;
    background: white;
    padding: 0%;
    height: 100vh;
    width: 100ch;
}

/*section#mobilePart {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

section#mobilePart div {
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    background: red;
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    margin: 1%;
    padding: 5%;
    width: 95%;
    overflow: hidden;
    display: block;
}

section#mobilePart div img {
    position: absolute;
    top: 0%;
    max-width: 75%;
    margin: 0%;
    border-radius: 2.5em;
}

section#mobilePart div div {
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff9d, #e6e6e69d);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
}*/

@keyframes mobilePart1-mobilePart1-to-mobilePart2 {
    0% {
        transform: translateY(0vh);
        visibility: visible;
        display: block;
    }

    25% {
        transform: translateY(20vh);
        visibility: visible;
        display: block;
    }

    99% {
        transform: translateY(-110vh);
        visibility: visible;
        display: block;
    }

    100% {
        transform: translateY(-110vh);
        visibility: hidden;
        display: none;
    }
}

@keyframes mobilePart2-mobilePart1-to-mobilePart2 {
    0% {
        transform: translateY(110vh);
        visibility: hidden;
        display: none;
    }

    1% {
        transform: translateY(110vh);
        visibility: visible;
        display: block;
    }

    100% {
        transform: translateY(0vh);
        visibility: visible;
        display: block;
    }
}

#mobilePart {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0rem;
    height: 100vh;
    width: 100%;
}

#mobPart1 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    overflow-x: hidden;
    background: linear-gradient(145deg, #ffffff9d, #e6e6e69d);
}

#mobPart1.hide {
    animation: mobilePart1-mobilePart1-to-mobilePart2 0.75s forwards;
    display: none;
}


#mobPart1>div {
    display: flex;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    align-items: center;
}

/* Style de l'image */
#mobPart1 img {
    width: 50ch;
    margin-top: 2.5rem;
    margin-left: 0ch;

    /* Ajustez la taille de l'image selon vos besoins */
    border-radius: 2.5rem;
    /* Pour une forme de cercle */
    margin-bottom: 1rem;
}

/* Style des titres */
#mobPart1 h1,
#mobPart1 h2 {
    margin: 1rem 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 405%;
    text-align: center;
    /* Texte noir */
}

/* Style de la barre de navigation */
#mobPart1 nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10rem;
    padding: 5rem;
    padding-top: 0rem;
}

/* Style des boutons de la barre de navigation */
#mobPart1 button {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 400%;
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff9d, #e6e6e69d);
    box-shadow: 2em 2em 6em #d9d9d9,
        -2em -2em 6em #ffffff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: none;
}

/* Style du paragraphe */
#mobPart1 p {
    text-align: center;
    margin-top: 2rem;
    color: #333;
    /* Texte noir */
}

#mobPart2 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2.5rem;
    overflow-x: hidden;
    background: linear-gradient(145deg, #ffffff9d, #c8e4f99d);
    transform: translateX(-110vh);
    visibility: hidden;
    font-size: 200%;
    color: #333;
    display: none;

}

#mobPart2 a {
    color: #333;
    text-decoration: none;
    font-size: 125%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff9d, #e6e6e69d);
}

#mobPart2 div {
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff9d, #e6e6e69d);
    margin: 1rem;
    padding: 2.5rem;
}

#mobPart2 div div {
    display: flex;
    justify-content: space-around;
}

#mobPart2 h3 {
    color: #0083e6;
}

#mobPart2.show {
    animation: mobilePart2-mobilePart1-to-mobilePart2 0.75s forwards 0.5s;
    display: block;
}