.nav {
  display: flex;
  font-size: 110% !important;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  transition: all 0.3s ease;
}

.nav:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav.main-nav {
  position: fixed;
  bottom: 0rem;
  translate: 45vw 0vh;
}

.nav.lang-nav {
  font-size: 75% !important;
  position: fixed;
  padding: 0.5rem 0.5rem;
  bottom: 0rem;
  right: 1rem;
}

.nav.lang-nav .button {
  padding: 0.5rem;
  margin: 0.5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .nav {
    font-size: 90% !important;
  }

  .nav.main-nav {
    translate: 0vw 0vh;
    width: 100%;
    justify-content: center;
  }

  .nav.nav.main-nav .button {
    min-width: 5rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav.lang-nav {
    bottom: 5rem;
    right: 0.5rem;
  }

  .nav .button {
    transform: scale(1.5);
  }

  .nav:hover {
    transform: none;
  }
}
