section.achievement {
  height: 0vh;
  width: 100vw;
  transition: all 0.5s;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  margin-bottom: 100%;
  overflow: hidden;
}

section.achievement.show {
  margin-bottom: 0%;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

section.achievement.hide {
  height: 0rem;
  margin-bottom: 100%;
  transition: all 0.5s;
}

section.achievement.none {
  margin-top: 100%;
  transition: all 0.5s;
  display: none;
}

section.achievement > header {
  padding: 0.5rem;
  margin: 0rem;
  font-size: 140%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

body.mobile section.achievement > header {
  flex-direction: column-reverse;
  display: center;
  font-size: 200%;
}

section.achievement > header > h1 {
  font-size: 200%;
  margin-bottom: 1rem;
}

section.achievement > header > nav {
  margin-right: 3rem;
}

body.mobile section.achievement > header > nav {
  width: 100%;
  margin-right: 0rem;
  padding-left: 75%;
}
section.achievement > header > nav > button {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 110%;
  border-radius: 0.5rem;
}

section.achievement > section.container > div {
  display: flex;
  flex-direction: row;
  flex-direction: space-around;
  max-height: 120vh;
  overflow: hidden;
  box-shadow: 1rem 1rem 3rem var(--color_bk_shadow1),
    -1rem -1rem 3rem var(--color_bk_shadow2);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 150%;
}

body.mobile section.achievement > section.container > div {
  flex-direction: column;
  font-size: 200%;
}
section.achievement > section.container > div > article {
  width: 60%;
  padding: 1rem;
}

body.mobile section.achievement > section.container > div > article {
  width: 100%;
  height: auto;
}

section.achievement > section.container > div > div {
  padding: 1rem;
  padding-top: 2.5rem;
  width: 40vw;
}
body.mobile section.achievement > section.container > div > div {
  display: none;
}

body.mobile section.achievement > section.container > div > div.mobile.image {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 1rem;
}

body.mobile
  section.achievement
  > section.container
  > div
  > div.mobile.image
  > a {
  color: var(--color_font);
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 110%;
}

section.achievement > section.container > div > div > img {
  height: 35%;
  border-radius: 0.5rem;
  position: relative;
  top: 0%;
  left: 0%;
}

section.achievement > section.container > div > div > img.img1 {
  top: 0%;
  left: 0%;
}

section.achievement > section.container > div > div > img.img2 {
  top: -15%;
  left: 10%;
}

section.achievement > section.container > div > div > img.img3 {
  top: -30%;
  left: -15%;
}
