section.career {
  height: 0vh;
  width: 100vw;
  transition: all 0.5s;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  margin-bottom: 100%;
  overflow: hidden;
}

section.career.show {
  margin-bottom: 0%;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

section.career.hide {
  height: 0rem;
  margin-bottom: 100%;
  transition: all 0.5s;
}

section.career.none {
  margin-top: 100%;
  transition: all 0.5s;
  display: none;
}

section.career {
  height: 100%;
  width: 97vw;
  overflow: hidden;
}

section.career > header {
  padding: 0.5rem;
  margin: 0rem;
  font-size: 140%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

body.mobile section.career > header {
  flex-direction: column-reverse;
  justify-content: center;
}

section.career > header > h1 {
  font-size: 200%;
  margin-bottom: 1rem;
}

body.mobile section.career > header > h1 {
  width: 100vw;
  height: auto;
  text-align: left;
  margin: 1rem;
}

section.career > header > button {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 110%;
  margin-right: 3rem;
  border-radius: 0.5rem;
}

body.mobile section.career > header > button {
  font-size: 150%;
  padding: 1.5rem;
  width: 10vw;
  margin-left: 85vw;
}

section.career > div {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1rem;
  margin-left: 2rem;
  font-size: 130%;
}

section.career > div > h2 {
  margin-top: 1rem;
  font-size: 200%;
}

section.career > div > section.container {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  max-height: 120vh;
  overflow: hidden;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
}

body.mobile section.career > div > section.container {
  flex-direction: column;
  justify-content: center;
  font-size: 200%;
}

section.career > div > section.container > ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 12.5%;

  list-style-type: none;
  padding: 0rem;
}

body.mobile section.career > div > section.container > ul {
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 4rem;
}

section.career > div > section.container > ul > li {
  margin: 0rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  box-shadow: 0em 0em 0em var(--color_bk_shadow1),
    -0em -0em 0em var(--color_bk_shadow2);
  transition: all 0.5s;
  font-size: 75%;
}

section.career > div > section.container > ul li.focusable {
  animation: infinite 1s ease-in-out alternate-reverse focusable-li-animation;
}

section.career > div > section.container > ul > li.focus {
  font-size: 100%;
  animation: none;
  color: orange;
}

@keyframes focusable-li-animation {
  0% {
    color: white;
    transform: scale(1);
  }
  100% {
    color: orange;
    transform: scale(1.25);
  }
}

section.career > div > section.container > ul > li.focusable:hover,
section.career > div > section.container > ul > li.focusable:focus {
  transition: all 0.5s;
  animation: none;
  box-shadow: 1rem 1rem 3rem var(--color_bk_shadow1),
    -1rem -1rem 3rem var(--color_bk_shadow2);
  font-size: 95%;
  cursor: pointer;
}

section.career > div > section.container > ul > div.line {
  margin-left: 45%;
  margin-right: 45%;
  height: 5vh;
  box-shadow: inset 1rem 3rem var(--color_bk_shadow1),
    -1rem -1rem 3rem var(--color_bk_shadow2) inset;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  transition: all 0.5s;
}

body.mobile section.career > div > section.container > ul > div.line {
  margin: 0%;
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 0%;
  height: 5%;
  width: 2.5vw;
  box-shadow: inset 1rem 3rem var(--color_bk_shadow1_focus),
    -1rem -1rem 3rem var(--color_bk_shadow2_focus) inset;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
}

body.mobile section.career > div > section.container > ul > div.line.focus {
  margin: 0%;
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 0%;

  height: 5%;
  width: 20vw;
  box-shadow: inset 1rem 3rem var(--color_bk_shadow1_focus),
    -1rem -1rem 3rem var(--color_bk_shadow2_focus) inset;
}

section.career > div > section.container > ul > div.line.focus {
  height: 50vh;
  transition: all 0.5s;
  box-shadow: inset 1rem 3rem var(--color_bk_shadow1_focus),
    -1rem -1rem 3rem var(--color_bk_shadow2_focus) inset;
}

section.career > div > section.container > div.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 1rem;
}

section.career > div > section.container > div.content > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  height: 0rem;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}

body.mobile section.career > div > section.container > div.content > div {
  width: 0%;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  overflow: hidden;
}

section.career > div > section.container > div.content > div.focus {
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
  overflow: default;
}

body.mobile section.career > div > section.container > div.content > div.focus {
  height: auto;
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

section.career > div > section.container > div.content > div > article {
  padding: 1rem;
  width: 40%;
  overflow: hidden;
}

body.mobile
  section.career
  > div
  > section.container
  > div.content
  > div
  > article {
  margin-top: 0%;
  width: 100%;
}

section.career > div > section.container > div.content > div > article > h5 {
  font-size: 150%;
  margin-bottom: 2rem;
}

body.mobile
  section.career
  > div
  > section.container
  > div.content
  > div
  > article
  > h5 {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

section.career > div > section.container > div.content > div > div {
  width: 40vw;
  height: 100%;
  overflow: hidden;
  padding: 2.5rem;
}

body.mobile section.career > div > section.container > div.content > div > div {
  display: none;
}

section.career > div > section.container > div.content > div > div > img {
  position: relative;
  border-radius: 0.5rem;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  width: auto;
}

/*IUT*/
section.career
  > div
  > section.container
  > div.content
  > div.iut
  > div
  > img.img1 {
  top: 5%;
  left: 0%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.iut
  > div
  > img.img2 {
  top: -7.5%;
  left: 25%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.iut
  > div
  > img.img3 {
  top: -15%;
  left: -2.5%;
  height: 20%;
}

/*BAC*/
section.career
  > div
  > section.container
  > div.content
  > div.bac
  > div
  > img.img1 {
  top: 5%;
  left: 0%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.bac
  > div
  > img.img2 {
  top: -10%;
  left: 30%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.bac
  > div
  > img.img3 {
  top: 2.5%;
  left: -55%;
  height: 25%;
}

/*////////////////////////////////////////////EXP///////////////////////////////*/

/*lbdd*/
section.career
  > div
  > section.container
  > div.content
  > div.lbdd
  > div
  > img.img1 {
  top: 0%;
  left: 0%;
  height: 40%;
}

section.career
  > div
  > section.container
  > div.content
  > div.lbdd
  > div
  > img.img2 {
  left: 7.5rem;
  top: -5rem;
  height: 40%;
}

section.career
  > div
  > section.container
  > div.content
  > div.lbdd
  > div
  > img.img3 {
  left: 0rem;
  top: -15rem;
  height: 40%;
}

/*stage-but2*/
section.career
  > div
  > section.container
  > div.content
  > div.stage-but2
  > div
  > img.img1 {
  top: 0%;
  left: 0%;
  height: 40%;
}

section.career
  > div
  > section.container
  > div.content
  > div.stage-but2
  > div
  > img.img2 {
  left: 7.5rem;
  top: -5rem;
  height: 40%;
}

section.career
  > div
  > section.container
  > div.content
  > div.stage-but2
  > div
  > img.img3 {
  left: 0rem;
  top: -15rem;
  height: 40%;
}

/*CTOC*/
section.career
  > div
  > section.container
  > div.content
  > div.ctoc
  > div
  > img.img1 {
  top: 0%;
  left: 0%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.ctoc
  > div
  > img.img2 {
  top: -10%;
  left: 22.5%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.ctoc
  > div
  > img.img3 {
  top: -20%;
  left: 0%;
  height: 35%;
}

/*stage_ob*/
section.career
  > div
  > section.container
  > div.content
  > div.stage_ob
  > div
  > img.img1 {
  top: 0%;
  left: 0%;
  height: 40%;
}

section.career
  > div
  > section.container
  > div.content
  > div.stage_ob
  > div
  > img.img2 {
  top: -20%;
  left: 35%;
  height: 35%;
}

section.career
  > div
  > section.container
  > div.content
  > div.stage_ob
  > div
  > img.img3 {
  top: -30%;
  left: 2.5%;
  height: 35%;
}
