section.technology {
  height: 0vh;
  width: 100vw;
  transition: all 0.5s;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
  margin-bottom: 100%;
  overflow: hidden;
}

section.technology.show {
  margin-bottom: 0%;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

section.technology.hide {
  height: 0rem;
  margin-bottom: 100%;
  transition: all 0.5s;
}

section.technology.none {
  margin-top: 100%;
  transition: all 0.5s;
  display: none;
}

section.technology > header {
  padding: 0.5rem;
  margin: 0rem;
  font-size: 140%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

section.technology > header > h1 {
  font-size: 200%;
  margin-bottom: 1rem;
}

section.technology > header > nav {
  margin-right: 3rem;
}

section.technology > header > nav > button {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 110%;
  border-radius: 0.5rem;
}

section.technology > section.container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    145deg,
    var(--color_bk_gradient1),
    var(--color_bk_gradient2)
  );
}

section.technology > section.container > article {
  font-size: 150%;
}
section.technology > section.container > article > h2 {
  margin-left: 1rem;
}

section.technology > section.container > article > h3 {
  margin-left: 2rem;
}

section.technology > section.container > article > ul {
  margin-left: 3rem;
}
