.exp-thumbmail {
  font-size: 75%;
  font-weight: 100;
  text-decoration: none;
  margin: 0.25rem;
  width: 100%;
  padding: 0.25rem;
  border: none;
  border-bottom: 0.125rem solid var(--border-color);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exp-thumbmail:hover {
  transform: scale(1.05);
}

.exp-thumbmail h1 {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.exp-thumbmail-tags {
  width: 50%;
  opacity: 1;
  display: flex;
  margin-left: 1rem;
  padding: 0.25rem;
}
