.skill-detail {
  flex: 1;
  width: auto;
  min-width: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.skill-detail.expanded {
  min-width: 20rem !important;
  transition: all 0.3s ease;
}

.skill-header {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color-alt);
  border: none;
  cursor: pointer;
}

.skill-content {
  padding: 0.25rem;
  padding-top: 0rem;
  background: var(--background-color);
}

.skill-content p {
  margin: 0.5rem;
  margin-top: 0rem;
}

.expand-icon {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Skills specific colors */
.skill-detail[class*="html-css-js"] {
  background-color: #fff0f0;
  color: #ff4d4d;
}

.skill-detail[class*="WordPress"] {
  background-color: #f0fff0 !important;
  color: #4dff4d !important;
}

.skill-detail[class*="figma"] {
  background-color: #f0f0ff;
  color: #4d4dff;
}

.skill-detail[class*="react"] {
  background-color: #2fd5ff;
  color: #00a9d3;
}

.skill-detail[class*="node"] {
  background-color: #f0fff0;
  color: #33cc33;
}

.skill-detail[class*="java"] {
  background-color: #f53535;
  color: #920202;
}

.skill-detail[class*="java-Spring-boot"] {
  background-color: #99f047;
  color: #3c7206;
}

.skill-detail[class*="json"] {
  background-color: #ffcf31;
  color: #a16c00;
}

.skill-detail[class*="csv"] {
  background-color: #f0f8ff;
  color: #0099ff;
}

.skill-detail[class*="mobile-react-native"] {
  background-color: #ffe6f2;
  color: #ff0066;
}

.skill-detail[class*="no-sql"] {
  background-color: #993cfc;
  color: #4000a0;
}

.skill-detail[class*="sql"] {
  background-color: #8a6340;
  color: #492c12;
}

.skill-detail[class*="jpa"] {
  background-color: #ffe6e6;
  color: #ff0000;
}

.skill-detail[class*="debian"] {
  background-color: #e9467c;
  color: #c90f4d;
}

.skill-detail[class*="git"] {
  background-color: #ffaf64;
  color: #ff6600;
}

.skill-detail[class*="docker"] {
  background-color: #32cefd;
  color: #117b96;
}

.skill-detail[class*="devops"] {
  background-color: #f9ffe6;
  color: #99cc00;
}

.skill-detail[class*="system"] {
  background-color: #ffe6ec;
  color: #ff1a66;
}

.skill-detail[class*="network"] {
  background-color: #e6ecff;
  color: #1a66ff;
}

.skill-detail[class*="communication"] {
  background-color: #f2ffe6;
  color: #66cc00;
}

.skill-detail[class*="project-management"] {
  background-color: #ffe6f2;
  color: #ff0066;
}

.skill-detail[class*="presentation"] {
  background-color: #ac64ff;
  color: #7700ff !important;
}

.skill-detail[class*="c"] {
  background-color: #5698fc;
  color: #0066ff;
}

.skill-detail[class*="security"] {
  background-color: #ffe6e6;
  color: #cc4d4d;
}

.skill-detail[class*="low-level"] {
  background-color: #e6ffff;
  color: #4dcccc;
}

.skill-detail[class*="python"] {
  background-color: #4da6ee;
  color: #306998;
}

.skill-detail[class*="fastAPI"] {
  background-color: #44aca1;
  color: #009688;
}

.skill-detail[class*="maven"] {
  background-color: #e4432d;
  color: #831111;
}

/* Default color as fallback */
.skill-detail {
  background-color: #f0f0f0;
  color: #666666;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .skill-detail {
    min-width: 100%;
  }

  .skill-detail.expanded {
    min-width: 100% !important;
  }

  .skill-header {
    padding: 0.25rem;
  }

  .skill-content {
    padding: 0.125rem;
  }

  .skill-content p {
    margin: 0.25rem;
    font-size: 90%;
  }
}
