.tag-thumbmail {
  opacity: 1;
  max-height: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Couleurs pastel pour chaque type de tag */
.tag-thumbmail.school {
  background-color: #ffe5e5;
  color: #d47676;
}

.tag-thumbmail.internship {
  background-color: #e5ffe5;
  color: #76d476;
}

.tag-thumbmail.school-project {
  background-color: #e5e5ff;
  color: #7676d4;
}

.tag-thumbmail.freelance {
  background-color: #ffe5ff;
  color: #d476d4;
}

.tag-thumbmail.work-project {
  background-color: #ffffe5;
  color: #d4d476;
}

.tag-thumbmail.personal-project {
  background-color: #e5ffff;
  color: #76d4d4;
}
