.work-section {
  max-width: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
  background: var(--primary-bg);
  transition: all 0.3s ease;
}

.work-section.open {
  max-width: 1300px;
  transition: all 0.3s ease;
}

.work-section .exp-list {
  max-height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-radius: 0.5rem;
  box-shadow: inset 3px 3px 6px var(--shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
  transition: all 0.3s ease;
}

.work-section .exp-detail {
  opacity: 0;
  transform: translateY(20px);
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.work-section.open .exp-detail {
  opacity: 1;
  transform: translateY(0);
  margin-top: 0rem;
  margin-bottom: 0rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.exp-detail-enter {
  animation: fadeIn 0.3s ease forwards;
  animation-fill-mode: both;
}

.work-section .exp-list::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
  overflow: hidden;
}

.work-section .exp-list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

.work-section .exp-list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
  .work-section .exp-list {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.work-section.open .exp-list {
  width: 40%;
  transition: all 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .work-section {
    margin: 0rem !important;
    padding: 0rem !important;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
    width: 99vw !important;
    height: 80vh;
    overflow: hidden;
  }

  .work-section.open {
    overflow: hidden;
    width: 90vw;
  }

  .work-section .exp-list {
    margin: 0rem;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    transition: all 0.3s ease;
  }

  .work-section.open .exp-list {
    width: 100%;
    height: 0px !important;
    margin: 0rem !important;
    padding: 0rem !important;
    overflow: hidden !important;
    transition: all 0.3s ease;
  }

  .work-section .exp-detail {
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100% !important;
    margin-top: 1rem;
  }

  .work-section.open .exp-list {
    width: 100% !important;
  }

  .header-exp-detail .nav-exp-detail .title {
    text-wrap: nowrap;
    overflow: hidden;
  }
}
