.work-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 15px;
  background: var(--primary-bg);
  box-shadow: inset 3px 3px 6px var(--shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
}
